$space-1: 0.5rem;
$space-2: 1rem;
$space-3: 1.5rem;
$space-4: 2rem;
$bg-color: #011b33;
$txt-color: #fff;
$bord: 2px solid $bg-color;
$tablet: 550px;
$laptop: 728px;

:root {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Recursive', monospace;
  font-size: clamp(1.6rem, 2.6vw, 2rem);
  background-color: #bdbdbd;
  line-height: 1.5;
}

@mixin button() {
  background-color: $bg-color;
  color: $txt-color;
  font-family: inherit;
  font-size: 1.4rem;
  cursor: pointer;
}