.main {
  font-size: clamp(1.6rem, 2.6vw, 2rem);
  color: $bg-color;
}

.search {
  text-align: center;
  margin: $space-4 $space-2;

  &_label {
    display: block;
    margin: $space-2 0 $space-1 0;
  }

  &_input {
    width: 90%;
    padding: $space-1;
    border: 2px solid $bg-color;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1.4rem;
  }
}

.feature {
  margin: $space-2;
  text-align: center;
  border-top: 2px solid $bg-color;
  border-bottom: 2px solid $bg-color;
}

.card {
  padding: $space-2;

  .card_icon {
    font-size: 5rem;
    margin: $space-1;
  }
}