/* resultpage styling */

@mixin flex() {
  display: flex;
  flex-direction: row;
}

@mixin input() {
  padding: $space-1;
  font-family: inherit;
  font-size: 1.4rem;
}

.header2 {
  @include flex();
  border-bottom: 2px solid $bg-color;
}

.page_title {
  margin: $space-3 $space-2;
}

.query {
  margin: $space-4 $space-2;
  flex-basis: 80%;
  @include flex();

  &_input {
    @include input();
    width: 80%;
    border-radius: 5px 0 0 5px;
  }
}

.btn2 {
  @include button();
  padding: $space-1 $space-2;
  font-size: 1.6rem;
  border: none;
  border-radius: 0 5px 5px 0;
}

.currenttemp {
  margin: $space-4 $space-2;
  padding: $space-2;
  @include flex();
  font-weight: 550;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 6px -6px #777;

  &_detail {
    margin-right: auto;
  }
}

.location .value {
  margin-left: $space-2;
}

.currenttemp_detail {
  .temp {
    font-size: clamp(5rem, 4.6vw, 6rem);
    font-weight: 600;
    line-height: 1.2;
  }
}

.currenttemp_description {
  text-align: center;
  margin: $space-3 $space-4 0 0;
}

.currentweather {
  margin: $space-4 $space-2;
  padding: $space-2;
  background-color: #fff;
  border-radius: 10px;
  font-weight: 550;
  box-shadow: 10px 10px 6px -6px #777;
}

.currentweather_detail {
  margin-bottom: $space-2;

  .feel {
    font-size: clamp(4rem, 3.6vw, 5rem);;
    margin: $space-2 0 0 $space-2;
    line-height: .9;
    font-weight: 450;
  
    &_text {
      margin-left: $space-2;
    }
  }
}

.currentdata {
  list-style: none;

  &_list {
    display: flex;
    padding: $space-1 0;
    border-top: 1px solid #bdbdbd;
    
    .fas {
      line-height: 1.5;
      flex-basis: 8%;
      margin-left: $space-2;
    }
  
    .prop {
      margin-right: auto;
    }
  }
}

.air {
  margin: $space-4 $space-2;
  padding: $space-2;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 6px -6px #777;

  button {
    @include button();
    padding: $space-1 $space-2;
    border: none;
    border-radius: 25px;
  }
}

.air_detail {
  display: flex;
  margin: $space-2 0;
  padding: $space-2;
}

.airvalue {
  border: 5px solid #bdbdbd;
  border-bottom-color: #080;
  margin-right: $space-4;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  font-size: 3.2rem;
  font-weight: 500;
}

.airtext {
  margin-left: $space-4;
}

.common {
  margin: $space-4 $space-2;
  padding: $space-2;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 6px -6px #777;

  &_holder {
    display: flex;
    margin: $space-2 0;
  }

  button {
    @include button();
    padding: $space-1 $space-2;
    border: none;
    border-radius: 25px;

    &:hover {
      background-color: $txt-color;
      color: $bg-color;
    }
  
    &:active {
      border: $bord;
    }
  
    &:focus {
      outline: $bord;
      background-color: $txt-color;
      color: $bg-color;
    }
  }
}

.common-data {
  flex-basis: 20%;
  border-right: 1px solid #bdbdbd;
  text-align: center;

  &:first-child {
    font-weight: 700;
  }

  &:last-child {
    border-right: 0;
  }

  .temp {
    font-size: clamp(2.5rem, 2.6vw, 4rem);
  }

  .now {
    font-size: clamp(1.3rem, 2.6vw, 1.6rem);
  }

  img {
    width: 50px;
    height: 50px;
  }
  
  .fas {
    margin-right: $space-1;
  }
}