@import 'global';
@import 'result';

/* homepage styling */

.header {
  &_link {
    text-decoration: none;
    color: $bg-color;
  }

  &_title {
    padding: $space-4;
    border-bottom: $bord;
    text-align: center;
  }
}

.search {
  text-align: center;
  padding: $space-4 $space-2;

  &_label {
    display: block;
    margin-bottom: $space-1;
  }

  &_input {
    @include input();
    width: 90%;
    border-radius: 5px;
  }
}

.btn {
  @include button();
  display: block;
  padding: $space-1;
  margin: $space-2 auto 0 auto;
  border-radius: 5px;

  &:hover {
    background-color: $txt-color;
    color: $bg-color;
  }

  &:active {
    border: $bord;
  }

  &:focus {
    outline: $bord;
    background-color: $txt-color;
    color: $bg-color;
  }
}

.main {
  color: $bg-color;
}

.feature {
  margin: 0 $space-2;
  text-align: center;
  border-top: $bord;
  border-bottom: $bord;
}

.card {
  padding: $space-2;

  .card_icon {
    font-size: 5rem;
    margin: $space-1;
  }
}

.foot {
  border-top: 2px solid red;
  color: $bg-color;
  text-align: center;

  &_text {
    padding-top: $space-1;
  }

  &_link {
    text-decoration: none;
    color: $bg-color;
  }
}

.load {
  height: 80vh;
  display: none;
  border: 1px solid red;
  position: relative;
}

.loader {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 40%;
  left: 45%;
  border: 5px solid rgba(189,189,189 ,0.25);
  border-left-color: rgba(3,155,229 ,1);  
  border-top-color: rgba(3,155,229 ,1); 
  border-radius: 50%;
  animation: rotate 600ms infinite linear;
}

@keyframes rotate { 
  to {  
    transform: rotate(1turn) 
  }
}
