@import 'global';
@import 'result';

/* homepage styling */

.header {
  &_link {
    text-decoration: none;
    color: $bg-color;
  }

  &_title {
    padding: $space-4;
    border-bottom: $bord;
    text-align: center;
  }
}

.search {
  text-align: center;
  margin: 0 auto;
  padding: $space-4 $space-2;

  @media screen and (min-width: $tablet)  {
    width: Max(50vw, 500px);
  }

  &_label {
    display: block;
    margin-bottom: $space-1;
  }

  &_input {
    @include input();
    width: calc(70% + 80px);
    border-radius: 5px;
  }
}

.focus {
  border: 2px solid red;

  :focus {
    border: 2px solid red;
  }
}

.btn1 {
  @include button();
  display: block;
  padding: $space-1;
  margin: $space-2 auto 0 auto;
  border-radius: 5px;

  &:hover {
    background-color: $txt-color;
    color: $bg-color;
  }

  &:active {
    border: $bord;
  }

  &:focus {
    outline: $bord;
    background-color: $txt-color;
    color: $bg-color;
  }
}

.btn1:disabled {
  background-color: #bdbdbd;
}

.main {
  color: $bg-color;
  margin: 0 auto;
  // width: Min(100vw, calc(80% + 100px));
}

.wrapper {
  padding: 0 1rem;
  border: 2px solid red;

  @media screen and (min-width: $laptop) {
    width: Min(1000px, calc(70% + 100px));
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem 1rem;

    > div {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.feature {
  //margin: 0 $space-2;
  text-align: center;
  border-top: $bord;
  border-bottom: $bord;

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    width: Max(50vw, 500px);
    margin: 0 auto;
  }

  @media screen and (min-width: 728px) {
    grid-column: 1 / -1;
  }
}

.card {
  padding: $space-2;

  p {
    font-size: clamp(1.6rem, 2.6vw, 1.8rem);
  }

  .card_icon {
    font-size: 5rem;
    margin: $space-1;

    @media screen and (min-width: $tablet) {
      font-size: clamp(5rem, 6.8vw, 8rem);
    }
  }
}

.foot {
  color: $bg-color;
  text-align: center;

  &_text {
    padding-top: $space-1;
  }

  &_link {
    text-decoration: none;
    color: $bg-color;
  }
}

.load {
  height: 80vh;
  display: none;
  position: relative;
}

.loader {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 40%;
  left: 45%;
  border: 5px solid #c0c0c0;
  border-left-color: $bg-color;  
  border-top-color: $bg-color; 
  border-radius: 50%;
  animation: rotate 600ms infinite linear;
}

@keyframes rotate { 
  to {  
    transform: rotate(1turn) 
  }
}

dialog {
  background-color: #fff;
  color: $bg-color;
  border: none;
  padding: $space-4;
  margin: auto;
  border-radius: 10px;
  box-shadow: 10px 10px 6px -6px #777;
  max-width: 90vw;

  .close {
    @include button();
    padding: $space-1 $space-2;
    margin-top: $space-1;
    border: none;
    border-radius: 15px;
  }
}

dialog::backdrop {
  background: linear-gradient(45deg, rgba(0,143,104,.5), rgba(250,224,66,.5));
  backdrop-filter: blur(3px);
}

dialog[open] {
  animation: slide .15s cubic-bezier(0, 1.8, 1, 1.8);
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(-3rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}