:root {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Recursive', monospace;
  font-size: clamp(1.6rem, 2.6vw, 2rem);
  line-height: 1.5;
}

/* resultpage styling */
.header2 {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #011b33;
}

.page_title {
  margin: 1.5rem 1rem;
}

.query {
  margin: 2rem 1rem;
  flex-basis: 80%;
  display: flex;
  flex-direction: row;
}

.query_input {
  padding: 0.5rem;
  font-family: inherit;
  font-size: 1.4rem;
  width: 80%;
  border-radius: 5px 0 0 5px;
}

.btn2 {
  background-color: #011b33;
  color: #fff;
  font-family: inherit;
  font-size: 1.4rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 0 5px 5px 0;
}

.currenttemp {
  border: 2px solid red;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.currenttemp_detail {
  margin-right: auto;
  font-weight: 650;
}

.location .value {
  margin-left: 1rem;
}

.currenttemp_detail .temp {
  font-size: clamp(3.5rem, 5vw, 5rem);
}

.currenttemp_detail .temp_unit {
  font-size: clamp(1.6rem, 2.6vw, 2rem);
}

.currenttemp_description .descp {
  text-align: center;
}

.currentweather {
  border: 2px solid red;
  margin: 1rem;
  padding: 1rem;
}

.currentweather_detail {
  margin-bottom: 1rem;
}

.feel {
  font-weight: 650;
  font-size: clamp(3.5rem, 5vw, 5rem);
}

.feel_unit {
  font-size: clamp(1.6rem, 2.6vw, 2rem);
}

.currentdata {
  list-style: none;
  padding: 0 1rem;
}

.currentdata_list {
  display: flex;
}

.currentdata_list .icon {
  margin-right: 1rem;
}

.currentdata_list .prop {
  margin-right: auto;
}

.air {
  border: 2px solid red;
  margin: 1rem;
  padding: 1rem;
}

.air_detail {
  display: flex;
  margin: 1rem 0;
}

.airvalue {
  border: 1px solid red;
  flex-basis: 50%;
  margin: 0 2rem;
  text-align: center;
}

.hourly {
  border: 2px solid red;
  margin: 1rem;
  padding: 1rem;
}

.hourly_data {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

.daily {
  border: 2px solid red;
  margin: 1rem;
  padding: 1rem;
}

.daily_data {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

/* homepage styling */
.header_link {
  text-decoration: none;
  color: #011b33;
}

.header_title {
  padding: 2rem;
  border-bottom: 2px solid #011b33;
  text-align: center;
}

.search {
  text-align: center;
  padding: 2rem 1rem;
}

.search_label {
  display: block;
  margin-bottom: 0.5rem;
}

.search_input {
  padding: 0.5rem;
  font-family: inherit;
  font-size: 1.4rem;
  width: 90%;
  border-radius: 5px;
}

.btn {
  background-color: #011b33;
  color: #fff;
  font-family: inherit;
  font-size: 1.4rem;
  cursor: pointer;
  display: block;
  padding: 0.5rem;
  margin: 1rem auto 0 auto;
  border-radius: 5px;
}

.btn:hover {
  background-color: #fff;
  color: #011b33;
}

.btn:active {
  border: 2px solid #011b33;
}

.btn:focus {
  outline: 2px solid #011b33;
  background-color: #fff;
  color: #011b33;
}

.main {
  color: #011b33;
}

.feature {
  margin: 0 1rem;
  text-align: center;
  border-top: 2px solid #011b33;
  border-bottom: 2px solid #011b33;
}

.card {
  padding: 1rem;
}

.card .card_icon {
  font-size: 5rem;
  margin: 0.5rem;
}

.foot {
  border-top: 2px solid red;
  color: #011b33;
  text-align: center;
}

.foot_text {
  padding-top: 0.5rem;
}

.foot_link {
  text-decoration: none;
  color: #011b33;
}

/*# sourceMappingURL=weather.css.map */
